
#container {
    border: 10px solid #3B598B;
   
}


#header_div {
    border: 5px solid #3399FF;
    min-height: 50px;
}

#content_div {
    border: 6px solid gray;
    min-height: 250px;
}

.content_class {
	float : left;
}

#dcontent_div {
	border: 4px solid #DBEAF9;
    min-height: 244px;
    width: 75%;
}


#icontent_div{
	border: 4px solid #DBEAF9;
    min-height: 244px;
     width: 22%;
}

#footer_div{
	border: 5px solid #3399FF;
    min-height: 50px;
}